<div class='row'>
  <div class='span4'>
      <%= image_tag current_user.id.to_s + '.png' if user_signed_in?  %>
  </div>
  <div class='span8'>
      <div id='messages'></div>
    <%= form_for('message', :html => { :id => 'message' }) do |f| %>
        <div>
          <%= f.text_field :message, :autofocus => true, placeholder: 'Message', class: 'input-block-level' %>
          <%= f.hidden_field :to, :value => @to %>
          <%= f.submit "Send message to " + @to, class: 'btn btn-large btn-primary' %>
        </div>
    <% end %>

  </div>
</div>

<script type='text/html' id='message-template'>
  <div class='message'>
    <div class='author' style='color: {{= color }};'>
        {{= author }} wrote:
    </div>
    <div class='content'>
        {{= content }}
    </div>
  </div>
</script>